# ==============================================================================
# Telecare Web App (Client) - Environment Variables Template
# ==============================================================================

# 1. Keycloak Authentication & Identity Provider (IAM)
NEXT_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:59000
NEXT_PUBLIC_KEYCLOAK_REALM=telecare-platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=telecare-id

# 2. Telecare API Gateway / Backend URL
NEXT_PUBLIC_GATEWAY_BASE_URL=http://localhost:58081
