# PostgreSQL / Keycloak database
POSTGRES_DB=keycloak
POSTGRES_USER=telecare
POSTGRES_PASSWORD=telecare123

# Redis
REDIS_PASSWORD=telecare123

# pgAdmin
PGADMIN_DEFAULT_EMAIL=telecare.platform.cskh@gmail.com
PGADMIN_DEFAULT_PASSWORD=telecare123

# Keycloak
KEYCLOAK_ADMIN_USERNAME=telecare
KEYCLOAK_ADMIN_PASSWORD=telecare123
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_HOSTNAME_STRICT=false

# Kafka / Keycloak SPI
KAFKA_BOOTSTRAP_SERVER=kafka:19092
KEYCLOAK_KAFKA_TOPIC=keycloak-user-events
